body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3rem;
  background-color: #f3f3f3; }

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 1px;
  border: solid 1px transparent;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  color: aliceblue;
  background-color: #002397; }

.btn:active {
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-filter: saturate(150%);
  filter: saturate(150%); }

.btn:hover {
  color: #9050AA;
  border-color: currentColor;
  background-color: white; }

.btn:hover,
.btn:focus {
  color: #2500f8;
  border-color: currentColor;
  background-color: #ff9307; }

.btn {
  outline: none; }

.btn::-moz-focus-inner {
  border: none; }
